PORT=9000
client_id=736389789675-o2p2m24cf03qnhpv2ihk5lkraeqs86cm.apps.googleusercontent.com
project_id=nodemailer-337807
auth_uri=https://accounts.google.com/o/oauth2/auth
token_uri=https://oauth2.googleapis.com/token
auth_provider_x509_cert_url=https://www.googleapis.com/oauth2/v1/certs
client_secret=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
redirect_uris=[https://developers.google.com/oauthplayground]


# This was inserted by `prisma init`:

# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:@localhost:3306/ecommerce?schema=public"
